*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #363636;
}
@media (max-width: 400px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: #363636;
    }
}