@media (max-width: 650px){
        .video {
            display: none;
        }
        .etecflix {
            max-height: 200px;
            max-width: 200px;
        }
        .lançamento {
            max-height: 150px;
            max-width: 300px;
        }
        .img1 {
            max-height: 30px;
            max-width: 10px;
        }
}
@media (max-width: 400px) {
    .etecflix {
        max-height: 120px;
        max-width: 120px;
    }
    .lançamento {
        max-height: 90px;
        max-width: 250px;
        
    }
    .letra1 {
        font-size: 10px;
    }
    .rolagem {
        font-size: 10px;
    }
    .img1 {
        max-height: 30px;
    }
    .footer {
        font-size: 10px;
        height: 30px;
        padding-bottom: 40px;
        
    }
    
}